<a href="https://colab.research.google.com/github/3klyata/homework4/blob/main/%D0%94%D0%BE%D0%BC%D0%B0%D1%88%D0%BD%D1%94_%D0%97%D0%B0%D0%B2%D0%B4%D0%B0%D0%BD%D0%BD%D1%8F_4_%D0%B4%D0%BE_%D0%BF%D1%80%D0%B0%D0%BA%D1%82%D0%B8%D1%87%D0%BD%D0%BE%D0%B3%D0%BE_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
# Створюємо таблицю book з колонками назва, ціна, мова, видавництво(id), ISBN, автор(id), жанр (id), дата видання, опис, кількість у наявності
# Далі таблиця читача
# Створюємо таблицю замовлень
# Проміжна таблиця бо зв'язок книг та замовлень багато до багатьох
# Таблиця авторів
# Проміжна таблиця книг та авторів (зв'язок багато до багатьох)
# Таблиця видавництва
# Таблиця жанрів
# Проміжна таблиця видавництв та книг (зв'язок багато до багатьох)
cursor.executescript('''
CREATE TABLE IF NOT EXISTS Book (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    price REAL,
    language TEXT,
    publication_date TEXT,
    ISBN TEXT,
    author_id INTEGER,
    genre_id INTEGER,
    publishing_house_id INTEGER,
    description TEXT,
    quantity_available INTEGER
);

CREATE TABLE IF NOT EXISTS Reader (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    age INTEGER,
    contacts TEXT,
    address_of_delivery TEXT
);

CREATE TABLE IF NOT EXISTS Orders (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_date TEXT,
    order_status TEXT,
    reader_id INTEGER,
    book_id INTEGER
);

CREATE TABLE IF NOT EXISTS Order_book (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    order_id INTEGER,
    book_id INTEGER
);

CREATE TABLE IF NOT EXISTS Author (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    biography TEXT,
    country TEXT
);

CREATE TABLE IF NOT EXISTS book_author (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    author_id INTEGER,
    book_id INTEGER
);

CREATE TABLE IF NOT EXISTS publishing_house (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    contacts TEXT,
    country TEXT
);

CREATE TABLE IF NOT EXISTS genre (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT,
    description TEXT
);

CREATE TABLE IF NOT EXISTS Book_publishing_house (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    publishing_house_id INTEGER,
    book_id INTEGER
);
''')
conn.commit()
print("Таблиці успішно створено.")

Таблиці успішно створено.

In [ ]:
# Наповнення таблиць даними
cursor.executescript('''
INSERT INTO Author (name, biography, country) VALUES
    ('Тарас Шевченко', 'Український поет і художник', 'Україна'),
    ('Ліна Костенко', 'Українська поетеса', 'Україна');

INSERT INTO Genre (name, description) VALUES
    ('Поезія', 'Літературний жанр'),
    ('Роман', 'Художній жанр');

INSERT INTO publishing_house (name, contacts, country) VALUES
    ('Видавництво Старого Лева', 'contacts@starlev.com', 'Україна'),
    ('А-ба-ба-га-ла-ма-га', 'info@ababahalamaha.com', 'Україна');

INSERT INTO Book (name, price, language, publication_date, ISBN, author_id, genre_id, publishing_house_id, description, quantity_available) VALUES
    ('Кобзар', 200.50, 'Українська', '1840-03-01', '1234567890', 1, 1, 1, 'Збірка поезій Тараса Шевченка', 15),
    ('Записки українського самашедшого', 150.00, 'Українська', '2010-09-01', '0987654321', 2, 2, 2, 'Роман Ліни Костенко', 20);

INSERT INTO Reader (name, age, contacts, address_of_delivery) VALUES
    ('Іван Іваненко', 30, '+380671234567', 'Київ, вул. Шевченка, 10'),
    ('Марія Петренко', 25, '+380681234567', 'Львів, вул. Франка, 5');

INSERT INTO Orders (order_date, order_status, reader_id, book_id) VALUES
    ('2024-11-01', 'completed', 1, 1),
    ('2024-11-05', 'pending', 2, 2);
''')

conn.commit()
print("Дані успішно додано.")

Дані успішно додано.

In [ ]:
# SELECT-запити
query1 = '''
SELECT Book.name, Author.name
FROM Book
INNER JOIN Author ON Book.author_id = Author.id;
'''

query2 = '''
SELECT Orders.id, Reader.name, Book.name
FROM `Orders`
INNER JOIN Reader ON Orders.reader_id = Reader.id
INNER JOIN Book ON Orders.book_id = Book.id;
'''

# Виконання запитів
cursor.execute(query1)
result1 = cursor.fetchall()
print("Запит 1: Книги та їх автори:")
for row in result1:
    print(row)

cursor.execute(query2)
result2 = cursor.fetchall()
print("Запит 2: Замовлення, читачі та книги:")
for row in result2:
    print(row)

Запит 1: Книги та їх автори:
('Кобзар', 'Тарас Шевченко')
('Записки українського самашедшого', 'Ліна Костенко')
Запит 2: Замовлення, читачі та книги:
(1, 'Іван Іваненко', 'Кобзар')
(2, 'Марія Петренко', 'Записки українського самашедшого')

In [ ]:
# Змінюємо назву книги "Кобзар"
update_query = '''
UPDATE Book
SET name = "Сон"
WHERE id = 1;
'''
# Зберігаємо зміни
cursor.execute(update_query)
conn.commit()
print("Назва книги змінена")

# Повторне виконання SELECT-запитів
cursor.execute(query1)
updated_result1 = cursor.fetchall()
print("Оновлений запит 1: Книги та їх автори:")
for row in updated_result1:
    print(row)

cursor.execute(query2)
updated_result2 = cursor.fetchall()
print("Оновлений запит 2: Замовлення, читачі та книги:")
for row in updated_result2:
    print(row)

Назва книги змінена
Оновлений запит 1: Книги та їх автори:
('Сон', 'Тарас Шевченко')
('Записки українського самашедшого', 'Ліна Костенко')
Оновлений запит 2: Замовлення, читачі та книги:
(1, 'Іван Іваненко', 'Сон')
(2, 'Марія Петренко', 'Записки українського самашедшого')